.form{
    margin: 20px;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.form input{
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
}

.form button{
    padding: 10px;
    background-color:green;
    height: 100%;
    color: white;
    border-radius: 5px;
    border: none;

}