*{
    margin: 0;
    padding: 0;
}

.container{
    margin: auto;
    border: 2px solid black;
    min-height: 500px;
    width: 600px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    border: 0.2px salmon;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}